@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    line-height: 2;
}
.header{
    background-image: linear-gradient(to bottom right, #ffffff76, #0000004a),
    url('../img/img1.jpg');
    background-position: top;
    background-size: cover;
    height: 95vh;
    text-align: center;
}
.text-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -35%);
    width: 100%;
    overflow: hidden;
}

.text-box h1{
    text-transform: uppercase;
    color: rgb(143, 55, 35);
    text-shadow: 0 0 3px #5e5c58, 0 0 5px #a9988d;
}

.heading-main{
    display: block;
    font-size: 4.4rem;
    letter-spacing: 1rem;
   animation-name: moveInLeft;
   animation-duration: 4s;
   animation-timing-function: ease-in-out;
}

@keyframes moveInLeft{
    0% {
        transform: translateX(-1000px);
        opacity: 0;
    }

    80%{
        transform: translateX(50px);
    }

    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

.heading-sub{
    display: block;
    font-size: 1.6rem;
    letter-spacing: 1rem;
    animation-name: moveInRight;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
}

@keyframes moveInRight{
    0% {
        transform: translateX(1000px);
        opacity: 0;
    }

    80%{
        transform: translateX(-50px);
    }

    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
.btn-container{
    text-align: center;
}

.btn{
    border-bottom: 0.2rem solid #a9988d;
    color: white;
    display: inline-block;
    font-size: 2rem;
    padding: 1rem;
    margin-top: 5rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s;
}

.btn:hover{
    background-color: #a9988dbe;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    transform: translateY(-5px);
}

.btn:active{
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transform: translateY(5px);
}

.main{
    background-color: #5c7c7d;
    height: 95vh;
    margin-top: -15rem;
    text-align: center;
    padding-top: 10rem;
    clip-path: polygon(50% 6%, 100% 0, 100% 43%, 100% 87%, 0 100%, 0 100%, 0 100%, 0% 43%, 0 0);
}
.main h1{
    color: #e6e1e6;
    font-size: 3rem;
    text-transform: uppercase;
}

.gallery{
    height: 100%;
    margin: 0 auto;
    position: relative;
    width: 75%;
}

.gallery_photo{
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5);
    outline-offset: 1rem;
    position: absolute;
    width: 500px;
    transition: all 0.3s;
    z-index: 10;
}

.gallery_photo:hover{
    outline: 1.8rem solid rgba(92, 124, 125, 0.473);
    transform: scale(1.1);
    z-index: 30;
}

.gallery_photo-2 {
    left: 2%;
    top: 15%;
}

.gallery_photo-3{
    right: 25%;
    top:22%;
}

.gallery_photo-4{
    left: 50%;
    top: 30%;
}

.footer{
    color: rgb(92, 124, 125);
    font-size: 2rem;
    height: 200px;
    padding: 2rem;
    text-align: center;
}

.footer ul li{
    display: inline-block;
    margin: 1rem;
}

.footer ul li a{
    color: rgb(92, 124, 125);
    text-decoration: none;
}
 
.footer ul li:hover, .footer ul li a:hover{
    color: rgb(52, 51, 48);
    transform: scale(1.2);
}
